i.logo {
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

img.emblem {
  border: 1px solid gray;
  width: 100%;
  height: 100%;
}

/* p.logo-desc {
  color: white;
  padding-top: 5px;∫
} */

div.botbar {
  background-color: rgb(35, 34, 34);
}

a.btn-color {
  background-color: black;
}

/* p.goals {
  color: black;
  font-family: 'Times New Roman', Times, serif;
} */

div.goals {
  background-color: white;
}

img.headshot {
  max-width: 75%;
  height: auto;

  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;

  border-radius: 50%;

}

div.cardtainer {
  padding-bottom: 100px;
  padding-top: 10px;
  padding-left: 8%;
  padding-right: 8%;
}